* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
    box-shadow: 0 0 3px gray;
}

input:focus {
    outline: none;
}

button:hover {
    background-color: rgb(138, 138, 138);
    color: #fff;
}

button:active {
    background-color: rgb(255, 196, 0);
}

header {
    width: 380px;
    margin: auto;
    /* margin: 2px 250px; */
}

.logo {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: rgb(131, 128, 128); */
    font-size: 20px;
    background-color: rgb(231, 231, 231);
    border: 2px solid gray;
    margin-top: 5px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.container {
    padding: 30px 20px;
    background-color: rgb(231, 231, 231);
    border: 2px solid gray;
    border-radius: 4px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    font-size: 11px;
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

.search button {
    font-size: 9px;
    width: 30px;
    height: 28px;
    /* border: 1px solid gray; */
    border-radius: 4px;
    font-weight: bold;
}

.notify {
    font-size: 10px;
    color: red;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.ingredient-box {
    height: 100px;
    margin: 30px 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
}

.ingredient {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 22px;
    padding: 0 1px;
    margin: 2px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 8px;
}

.ingredient.active {
    background-color: lightskyblue;
}

.ingredient button {
    font-size: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.submit-container {
    /* margin: 5px 0; */
    display: flex;
    justify-content: center;
}

.submit-container button {
    padding: 8px 60px;
    font-size: 12px;
    /* border: 1px solid gray; */
    border-radius: 4px;
    cursor: pointer;
}

main {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #FA9496;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 5px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.result-container {
    text-align: center;
}

.resulttitle {
    /* font-size: 10px; */
    color: #FA9496;
    margin: 30px auto;
}

.result {
    width: 700px;
    min-width: 380px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.rec {
    width: 100%;
    height: 430px;
    padding: 10px;
    display: inline-block;
    border: 0.5px solid gray;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.result img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    margin: auto;
}

.title {
    padding: 3px;
    font-size: 15px;
    font-weight: bolder;
}

.idonthave {
    font-size: 13px;
    margin: 10px;
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media (max-width: 500px) {
    .result img {
        height: 100px;
    }
    .rec {
        height: 300px;
    }
    .title {
        font-size: 10px;
    }
}